#container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  left: 28.5vw;
  top: 10vh;
  border: solid;
}

#erase {
  position: absolute;
  left: 28.5vw;
  top: 5vh;
}

#resize {
  position: absolute;
  left: 45.75vw;
  top: 5vh;
}